name: Linting with eslint
on: pull_request
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: check out code
        uses: actions/checkout@v3
      - name: install
        run: yarn
      - name: eslint check
        run: yarn lint:output
      - name: post comment in pull request
        if: ${{ failure() }}
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require("fs")
            const path = require("path")
            async function run() {
              const globber = await glob.create(
                      "public/*.html",
                      {followSymbolicLinks: false}
              )
              const files = await globber.glob()
              if (!files) { return }
              if (files.length < 1) { return }
              core.warning(files)
              files.map(async (file) => {
                      const cont = await fs.promises.readFile(file, "utf8")
                      core.warning(cont)
                      return cont
              }).forEach(async (content) => {
                      core.warning(content)
              })
            }
            try {
              run()
            } catch(err) {
                core.error(`Possible error with posting eslint output ${err}`)
            }
